@media screen and (max-device-width: 480px) {

    .wrapper {
        height: 550px;
    }

    .wrapper-container {
        width: 480px;
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 480px;
    }

    .header-logo {
        width: 155px;
        margin: 25px 150px;
    }

    .menu-960 {
        display: none;
    }

    .parent-list {
        position: relative;
    }

    .menu-480 {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        position: absolute;
    }

    .menu-480 li {
        border-bottom: 1px solid #edbfff;
    }

    .menu-480 a {
        color: #fff;
        font-family: 'League Gothic';
        font-size: 24px;
        text-decoration: none;
    }

    .sub-menu {
        display: none;
    }

    .menu-480 li:hover ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        margin-top: -20px;
        margin-left: -100px;
        border: 1px solid #0e181e;
        border-radius: 15px;
        background-color: rgba(72, 59, 78, .5);
        line-height: 40px;
        list-style: none;
    }

    .sub-menu li {
        width: 240px;
        border-top: 1px solid #513e59;
        border-bottom: 1px solid #37293f;
        text-align: center;
    }

    .sub-menu li:first-child {
        border-top: 0;
    }

    .sub-menu li:last-child {
        border-bottom: 0;
    }

    .sub-menu li:hover {
        border-bottom: 3px solid #edbfff;
        background-color: rgba(72, 59, 78, .8);
    }

    .wrapper-slider {
        height: 245px;
    }

    .wrapper-slider-content {
        width: 480px;
    }

    .wrapper-slider-content-text {
        margin-top: -30px;
    }

    .wrapper-slider-content-image img {
        width: 180px;
        height: auto;
    }

    .wrapper-slider-content h1 {
        font-size: 36px;
    }

    .wrapper-slider-content h2 {
        font-size: 20px;
    }

    .wrapper-slider-content p {
        display: none;
    }

    .wrapper-navigation {
        margin-top: 20px;
        margin-right: 500px;

    }

    .about-us {
        height: 600px;
    }

    .about-us-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 425px;
    }

    .about-us-container-text {
        width: 350px;
        margin: 30px auto;
    }

    .about-us-container-text span {
        display: block;
    }

    .about-us-container img {
        margin-top: 30px;
    }

    .wrapper-2 {
        height: 785px;
    }

    .wrapper-2-container {
        display: flex;
        flex-direction: column;
        width: 425px;
    }

    .wrapper-2-container-comments {
        margin-top: 65px;
    }

    .wrapper-2-container-comments img:last-child {
        margin: 100px 200px;
    }

    .wrapper-2-container-updates ul li h1,
    .wrapper-2-container-updates ul li p {
        font-size: 16px;
    }

    .wrapper-3 {
        height: 235px;
    }

    .wrapper-3-container {
        margin-top: 50px;
    }

    .wrapper-3 img:first-child {
        display: none;
    }

    .wrapper-3 img:nth-child(2) {
        display: block;
    }

    .wrapper-3 img:last-child {
        display: none;
    }

    .wrapper-4 {
        height: 670px;
    }

    .wrapper-4-container {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-4-container-col {
        width: 400px;
        margin-top: 70px;
    }

    .wrapper-5 {
        height: 200px;
        background: url('../image/footer-480.png') no-repeat;
    }

    .wrapper-5-container {
        width: 480px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu ul {
        width: 100%;
        margin-top: 50px;
    }

    .footer-menu li {
        width: auto;
        margin: 10px;
    }

    .footer-p {
        margin-top: 20px;
    }
}
